/* Form.css */
.custom-form {
    background-color: #fee8e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(222, 8, 8, 0.1);
    width: 25%; /* Set a reasonable width */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: corner;
  }
  .custom-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .custom-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-form button.btn {
    width: 25%;
    background-color: #1faa38;
    color: white;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(150%, 50%);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-form button.btn:hover {
    background-color: #2980b9;
  }
  .name-preview {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    font-size: 14px;
  }
  
  